In [19]:
from openpyxl import load_workbook
import pandas as pd

In [20]:
excel_file = r"C:\Users\prash\OneDrive\Desktop\My Work Experience\intelligent-automation-python\handle_merged_cells\merged_cells_example.xlsx"

In [21]:
work_book = load_workbook(excel_file)

In [22]:
sheet_index = 0
work_sheet = work_book[work_book.sheetnames[sheet_index]]

In [23]:
work_sheet

In [24]:
processed_data = []
merged_cells = {}

mx_row = work_sheet.max_row
mx_col = work_sheet.max_column

# Create a dictionary of merged cells
for merged_range in work_sheet.merged_cells.ranges:
    for row in range(merged_range.min_row, merged_range.max_row + 1):
        for col in range(merged_range.min_col, merged_range.max_col + 1):
            merged_cells[(row, col)] = merged_range
            
print(f"......Rows : {mx_row} Columns: {mx_col}")

......Rows : 6 Columns: 4

In [25]:
merged_cells

{(1, 1): <MergedCellRange A1:D1>,
 (1, 2): <MergedCellRange A1:D1>,
 (1, 3): <MergedCellRange A1:D1>,
 (1, 4): <MergedCellRange A1:D1>,
 (3, 1): <MergedCellRange A3:A4>,
 (4, 1): <MergedCellRange A3:A4>,
 (5, 1): <MergedCellRange A5:A6>,
 (6, 1): <MergedCellRange A5:A6>}

In [26]:
for row in range(1, mx_row + 1):
    processed_row = [''] * mx_col
    for col in range(1, mx_col + 1):
        if (row, col) in merged_cells:
            merged_range = merged_cells[(row, col)]
            value = work_sheet.cell(merged_range.min_row, merged_range.min_col).value
            
        else:
            value = work_sheet.cell(row=row, column=col).value
        
        if value is not None:
            processed_row[col-1] = str(value)
            
    if any(cell for cell in processed_row):
        if processed_row not in processed_data:
            processed_data.append(processed_row)

In [27]:
df = pd.DataFrame(processed_data)

In [28]:
df

                   0                  1                  2                  3
0  Sales Report 2025  Sales Report 2025  Sales Report 2025  Sales Report 2025
1             Region            Product           Sales Q1           Sales Q2
2              North             Laptop              12000              15000
3              North             Tablet               8000               9500
4              South             Laptop              14000              16000
5              South             Tablet               7000               8500